*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* talha */

.image img{
    width: 98.9vw;
    height: 100vh;
}
.plus{
    margin-top: -800px;
    margin-left: 50px;
}
.plus img{
    width: 7vw;
    height: 3.5vh;
    box-shadow: 400px 320px 50px #53e69f;
}
.six h1{
    color: white;
    font-size: 17px;
    box-shadow: -300px 220px 50px #2BB573;

}
.six{
    display: flex;
    margin-left: 600px;
    gap: 30px;
    margin-top: -30px; 
}
.button{
margin-left: 90em;
margin-top: -1.7em;
}
.button button{
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border:1px solid #2BB573;
    background-color: transparent;
    color: white;
    font-size: 17px;
    margin-left: 10px;
}
 .button span{
    color: white;
    position: absolute;
    margin-top: 11px;
    margin-left: 28px;
    font-size: 18px;
}
.bismillah{
    color: black;
    margin-top: 130px;
    margin-left: 130px;
   
}
.bismillah h1{
    font-size: 20px;
    color:#2BB573;
    letter-spacing: 1px;
   
}
.read h1{
    margin-left: 130px;
    margin-top: 30px;
    font-size: 50px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
.para p{
    font-size: 20px;
    margin-left: 130px;
    margin-top: 20px;
    color: white;
}
.but button{
    margin-left: 130px;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background-color: #2BB573;
    font-weight: 500;
    font-size: 16px;
    color: white;
    border: transparent;
}
.men img{
    margin-top: -380px;
    width: 35vw;
    height: 75vh;
    margin-left: 920px;
}
.prayer h1{
font-size: 20px;
margin-top: 170px;
margin-left: 20px;
color: #2BB573;
}
.today h1{
margin-left: 20px;
margin-top: 10px;
font-size: 28px;
}
.arabic h1{
font-size: 18px;
margin-left: 20px;
margin-top: 50px;
color: #2BB573;
}
.arabic hr{
    width: 260px;
    margin-left: 20px;
}
.thursday h1{
    font-size: 18px;
}
.thursday{
    margin-left: 20px;
}
.o h1{
    margin-left: 20px;
    margin-top: 70px;
    font-size: 18px;
}
.card1 h1{
font-size: 20px;
background-color: #2BB573;
width: 198px;
text-align: center;
height: 40px;
position: absolute;
color: white;


}
.card1 h2{
   margin-top: 60px;
   margin-left: 63px;
    font-size: 20px;
    position: absolute;
}
.card1 button{
    padding: 5px;
    margin-left: 60px;
    margin-top: 130px;
    width: 70px;
    position: absolute;
    background-color: #53e69f;
    border: transparent;
    color: white;
}
.card1{
    border: transparent;
    height: 180px;
    width: 198px;
    margin-left: 700px;
    margin-top: -150px;
    box-shadow: 1px 1px 5px  black;
}










.card2 h1{
    font-size: 20px;
    background-color: #2BB573;
    width: 198px;
    text-align: center;
    height: 40px;
    position: absolute;
    color: white;
    
    
    }
    .card2 h2{
       margin-top: 60px;
       margin-left: 63px;
        font-size: 20px;
        position: absolute;
    }
    .card2 button{
        padding: 5px;
        margin-left: 60px;
        margin-top: 130px;
        width: 70px;
        position: absolute;
        background-color: #53e69f;
        border: transparent;
        color: white;
    }
    .card2{
        border: transparent;
        height: 180px;
        width: 198px;
        margin-left: 950px;
        margin-top: -180px;
        box-shadow: 1px 1px 5px  black;
    }






    .card3 h1{
        font-size: 20px;
        background-color: #2BB573;
        width: 198px;
        text-align: center;
        height: 40px;
        position: absolute;
        color: white;
        
        
        }
        .card3 h2{
           margin-top: 60px;
           margin-left: 63px;
            font-size: 20px;
            position: absolute;
        }
        .card3 button{
            padding: 5px;
            margin-left: 60px;
            margin-top: 130px;
            width: 70px;
            position: absolute;
            background-color: #53e69f;
            border: transparent;
            color: white;
        }
        .card3{
            border: transparent;
            height: 180px;
            width: 198px;
            margin-left: 1200px;
            margin-top: -180px;
            box-shadow: 1px 1px 5px  black;
        }



        .card4 h1{
            font-size: 20px;
            background-color: #2BB573;
            width: 198px;
            text-align: center;
            height: 40px;
            position: absolute;
            color: white;
            
            
            }
            .card4 h2{
               margin-top: 60px;
               margin-left: 63px;
                font-size: 20px;
                position: absolute;
            }
            .card4 button{
                padding: 5px;
                margin-left: 60px;
                margin-top: 130px;
                width: 70px;
                position: absolute;
                background-color: #53e69f;
                border: transparent;
                color: white;
            }
            .card4{
                border: transparent;
                height: 180px;
                width: 198px;
                margin-left: 825px;
                margin-top: 50px;
                box-shadow: 1px 1px 5px  black;
            }


            .card5 h1{
                font-size: 20px;
                background-color: #2BB573;
                width: 198px;
                text-align: center;
                height: 40px;
                position: absolute;
                color: white;
                
                
                }
                .card5 h2{
                   margin-top: 60px;
                   margin-left: 63px;
                    font-size: 20px;
                    position: absolute;
                }
                .card5 button{
                    padding: 5px;
                    margin-left: 60px;
                    margin-top: 130px;
                    width: 70px;
                    position: absolute;
                    background-color: #53e69f;
                    border: transparent;
                    color: white;
                }
                .card5{
                    border: transparent;
                    height: 180px;
                    width: 198px;
                    margin-left: 1080px;
                    margin-top: -180px;
                    box-shadow: 1px 1px 5px  black;
                }
.btn:hover{
background-color: #2BB573;
transition: 0.5s;
cursor: pointer;
}
.six h1:hover{
    color: #2BB573;
    transition: 0.5s;
    cursor:pointer ;
}

.container{
    width: 100%;
    height: 700px;
    background-color: rgb(243, 243, 243);
    margin-top: 50px;
    
}
.container1{
    display: flex;
    padding: 100px;
    padding-top: 120px;
}
.cont1 img{
    width: 530px;
    height: 520px;   
}

.icon1{
  width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 280px;
    left: 240px;
}


 .icon1 i{
    
    
    
    color: #2cb573;
  position: relative;
  top: 16px;
  left: 20px;
    
    display: inline-block;
    
    align-items: center;
    
}

.cont2{
    margin-left: 80px;
    margin-right: 90px;
}
.cont2 h5{
    color: #2cb573;
    font-size: 17px;
    font-weight: 500;


}


.cont2 h1{
    margin-top: 15px;
    font-size: 29px;
    font-weight: 700;
    line-height: 38px;
    color: rgb(39, 37, 37);
    letter-spacing: 1px;
}

.cont2 .p1{
    margin-top: 20px;
    line-height: 30px;
    color: rgb(81, 79, 79);

}
.main-icon{
    display: flex;
    margin-top: 30px;
    gap: 150px;
}

.main-icon1{
    line-height: 40px;
    align-items: center;
}
.icon2{
    display: flex;
    gap: 5px;

}
.icon2 i{
    color:#2cb573;
    margin-top: 13px;
    

}


.icon3{
    display: flex;
    gap: 5px;
}
.icon3 i{
  color:#2cb573;
  margin-top: 13px;
}

.main-icon2{
    line-height: 40px;
    align-items: center;
}

.icon4{
    display: flex;
    gap: 5px;
}
.icon4 i{
  color:#2cb573;
  margin-top: 13px;

}

.icon5{
    display: flex;
    gap: 5px;
}
.icon5 i{
  color:#2cb573;
  margin-top: 13px;

}

.cont2 button{
    width: 130px;
    height: 40px;
    background-color: #2cb573 ;
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
}

.service h4{
  color:  #2cb573 ;
  margin-top:90px;
  font-size: 20px;
  font-weight: 500;

}

.service h1{
    margin-top: 15px;
}

.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 30px;

}

.box1{
    width: 260px;
    height: 240px;
    padding: 25px;
    background-color: rgb(230, 248, 241) ;

}

.box1 i{
  color: #2cb573;
  font-size: 3rem;
}

.box1 h2{
    margin-top: 20px;
}

.box1 p{
    margin-top: 15px;
    line-height: 30px;
    color: rgb(80, 80, 80);
    font-weight: 300;
    white-space: 1px; 
    font-size: 15px;
}

.box2{
    width: 260px;
    height: 240px;
    padding: 25px;
    background-color: rgb(230, 248, 241) ;

}

.box2 i{
  color: #2cb573;
  font-size: 3rem;
}

.box2 h2{
    margin-top: 20px;
}

.box2 p{
    margin-top: 15px;
    line-height: 30px;
    color: rgb(80, 80, 80);
    font-weight: 300;
    white-space: 1px; 
}

.box3{
    width: 260px;
    height: 240px;
    padding: 25px;
    background-color: rgb(230, 248, 241) ;

}

.box3 i{
  color: #2cb573;
  font-size: 3rem;
}

.box3 h2{
    margin-top: 20px;
}

.box3 p{
    margin-top: 15px;
    line-height: 30px;
    color: rgb(80, 80, 80);
    font-weight: 300;
    white-space: 1px; 
}

.box4{
    width: 260px;
    height: 240px;
    padding: 25px;
    background-color: rgb(230, 248, 241) ;

}

.box4 h2{
    margin-top: 20px;
}

.box4 i{
  color: #2cb573;
  font-size: 3rem;
}

.box4 p{
    margin-top: 15px;
    line-height: 30px;
    color: rgb(80, 80, 80);
    font-weight: 300;
    white-space: 1px; 
}

.pillar h4{
    color:  #2cb573 ;
    margin-top:120px;
    font-size: 20px;
    font-weight: 500;
  
  }
  
  .pillar h1{
      margin-top: 15px;
  }

  .main-box2{
    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 30px;
    
    }

  

  .box5{
    width: 240px;
    height: 390px;
    background-color: rgb(230, 248, 241) ;
  }

  .box5 img{
    
    width: 100%;
    height: 250px;
    z-index: -1;
  }

  .box5 h3{
    font-size: 20px;
    margin-top: 25px;
  }

  .box5 p{
    line-height: 30px;
    margin-top: 10px;
    color: rgb(70, 70, 70);
    font-weight: 300;
  }

  .box5 button{
    width: 90px;
    height: 30px;
    background-color: #2cb573 ;
  color: white;
  border: none;
  border-radius : 25px;
  position: relative;
  bottom: 350px;
  left: 15px;
  font-weight: 500;
  

  }

  .box6{
    width: 240px;
    height: 390px;
    background-color: rgb(230, 248, 241) ;
  }

  .box6 img{
    
    width: 100%;
    height: 250px;
    z-index: -1;
  }

  .box6 h3{
    font-size: 20px;
    margin-top: 25px;
  }

  .box6 p{
    line-height: 30px;
    margin-top: 10px;
    color: rgb(70, 70, 70);
    font-weight: 300;
  }

  .box6 button{
    width: 90px;
    height: 30px;
    background-color:#2cb573;
  color: white;
  border: none;
  border-radius : 25px;
  position: relative;
  bottom: 350px;
  left: 15px;
  font-weight: 500;
  

  }

  .box7{
    width: 240px;
    height: 390px;
    background-color: rgb(230, 248, 241) ;
  }

  .box7 img{
    
    width: 100%;
    height: 250px;
    z-index: -1;
  }

  .box7 h3{
    font-size: 20px;
    margin-top: 25px;
  }

  .box7 p{
    line-height: 30px;
    margin-top: 10px;
    color: rgb(70, 70, 70);
    font-weight: 300;
  }

  .box7 button{
    width: 80px;
    height: 30px;
    background-color:#2cb573 ;
  color: white;
  border: none;
  border-radius : 25px;
  position: relative;
  bottom: 350px;
  left: 15px;
  font-weight: 500;
  

  }

  .box8{
    width: 240px;
    height: 390px;
    background-color: rgb(230, 248, 241) ;
  }

  .box8 img{
    
    width: 100%;
    height: 250px;
    z-index: -1;
  }

  .box8 h3{
    font-size: 20px;
    margin-top: 25px;
  }

  .box8 p{
    line-height: 30px;
    margin-top: 10px;
    color: rgb(70, 70, 70);
    font-weight: 300;
  }

  .box8 button{
    width: 80px;
    height: 30px;
    background-color: #2cb573;
  color: white;
  border: none;
  border-radius : 25px;
  position: relative;
  bottom: 350px;
  left: 15px;
  font-weight: 500;
  

  }

  .box9{
    width: 240px;
    height: 390px;
    background-color: rgb(230, 248, 241) ;
  }

  .box9 img{
    
    width: 100%;
    height: 250px;
    z-index: -1;
  }

  .box9 h3{
    font-size: 20px;
    margin-top: 25px;
  }

  .box9 p{
    line-height: 30px;
    margin-top: 10px;
    color: rgb(70, 70, 70);
    font-weight: 300;
  }

  .box9 button{
    width: 70px;
    height: 30px;
    background-color: #2cb573 ;
  color: white;
  border: none;
  border-radius : 25px;
  position: relative;
  bottom: 350px;
  left: 15px;
  font-weight: 500;
  

  }


  /* moosa */
.musa{

    
    
   margin-top: 110px;
    width: 100%;
    height: 610px;
    /* position: sticky; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   /* opacity: 0.6; */
    
}
.musa::before{
  content: "";
  background-image: url(help.jpg);
  background-repeat: repeat-x;

  background-position: 422px;
  width: 100%;
    height: 610px;
    position: absolute;
    z-index: -1;
    /* opacity: 0.8; */
}
.musa h5{
  color: #2BB573;
    
    /* padding-top: 50px; */
   
    
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.musa h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* margin-left: -50px; */

    margin-top: 10px;
}
.musa p{
  
  color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 17px;
    /* margin-left: -50px; */
}
.musa button{
    width: 150px;
    height: 45px;
    background-color: #2BB573;
    color: #FFFF;
    margin-top: 20px;
    /* margin-left: -50px; */
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.moos h5{
    color: #2BB573;
   
    /* position: absolute; */
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    /* margin-left: -50px; */
    margin-top: 100px;


}
.moos h4{
    color: #333333;
    /* margin-left: 570px; */
    text-align: center;
    margin-top: 10px;
    font-size: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}
.fiss{
    width: 350px ;
    height: 420px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(239, 239, 239) , -2px -2px 2px rgb(239, 239, 239) ;
    
}
.fiss-1{
  display: flex;
  /* position: absolute; */
  bottom: 163px;
  align-items: center;
  /* left:101px; */
  /* box-shadow: 2px 2px grey; */
  
}

.fiss-1 h4{
  background-color: #2BB573;
  width: 60px;
  height: 25px;
  color: white;
  font-size: 15px;
  position: relative;
  left: 21px;
  top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.fiss-1 p{
  background: rgb(255, 255, 255);
  color: black;
  height: 25px;
  /* box-shadow: 2px 2px gray; */
}
.fiss img{
    width: 100%;
    height: 250px;
}
.fiss h3{
    color: #333333;
    margin-top: 30px;
    margin-left: 20px;
}
.fiss p{
    color: #555555;
    margin-left: 20px;
    margin-top: 20px;
}
.fisa{
    display: flex;
    gap: 30px;
    /* margin-left: 108px; */
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.main-footer{
  background-color: #000000;
  width: 89%;
    height: 350px;
    padding: 90px;
    margin-top: 180px;
}


.footer{
    /* width: 100%;
    height: 320px; */
    background-color: black;
    
    display: flex;
    gap: 20px;
    /* padding: 40px; */
}
.wwt{

    margin-top: 40px;
    width: 370px;
    height: 280px;
    background-color: black;
    color: white;
    margin-left: 30px;
    



}
.wwt h2{
    
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 30px;

}
.wwt p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
}

.wwt1{
    margin-top: 40px;
    width: 310px;
    height: 200px;
    background-color: black;
    color: white;
    
    



}

.moosa-icon{
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.icon10{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2BB573;
}
.icon10 i{
  color: #ffffff;
  position: relative;
  top: 10px;
  left: 15px;

}

.icon11{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2BB573;
}
.icon11 i{
  color: #ffffff;
  position: relative;
  top: 10px;
  left: 12px;

}

.icon12{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2BB573;
}
.icon12 i{
  color: #ffffff;
  position: relative;
  top: 10px;
  left: 13px;

}

.icon13{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2BB573;
}
.icon13 i{
  color: #ffffff;
  position: relative;
  top: 10px;
  left: 11px;

}
.wwt1 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 30px;

}
.wwt1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
}

.wwt2{
    margin-top: 40px;
    width: 310px;
    height: 200px;
    background-color: black;
    color: white;
    
    



}
.wwt2 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 30px;

}
.wwt2 a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 12px;
}
.wwt2 a:hover{
    text-decoration: underline;
}

.wwt3{
    margin-top: 40px;
    width: 310px;
    height: 200px;
    background-color: black;
    color: white;
    
    



}
.wwt3 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;

}
.wwt3 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
}

.wwt img{
    margin-left: 2px;
    margin-top: 20px;
    padding: 4px ;
    height: 12%;
    width: 12%;
   
}
/* .dute{
    width: 100%;
    height: 60px;
    background-color: black; color: white;

} */
.dute p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;

}





